{"http_interactions":[{"request":{"method":"get","uri":"https://api.twitter.com/1.1/account/verify_credentials.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=json.json"], "Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Thu, 23 Jul 2015 15:29:40 GMT"], "Status":["200 OK"], "X-Access-Level":["read-write"], "X-Connection-Hash":["49bb91783308940f243b3f8b357de8a1"], "X-Rate-Limit-Limit":["15"], "X-Rate-Limit-Remaining":["14"], "X-Rate-Limit-Reset":["1437666280"], "X-Response-Time":["45"], "X-Transaction":["3aec2874cdcfaab8"], "X-Twitter-Response-Tags":["BouncerCompliant","BouncerExempt"]},"body":{"encoding":"ASCII-8BIT","string":"{\"id\":3094852202,\"id_str\":\"3094852202\",\"name\":\"Whitney Hiemstra\",\"screen_name\":\"whithub\",\"location\":\"Denver, CO\",\"description\":\"\",\"url\":null,\"entities\":{\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":43,\"friends_count\":35,\"listed_count\":0,\"created_at\":\"Wed Mar 18 03:42:24 +0000 2015\",\"favourites_count\":0,\"utc_offset\":-21600,\"time_zone\":\"Mountain Time (US \u0026 Canada)\",\"geo_enabled\":false,\"verified\":false,\"statuses_count\":3,\"lang\":\"en\",\"status\":{\"created_at\":\"Thu Jul 23 14:21:11 +0000 2015\",\"id\":624222730951327744,\"id_str\":\"624222730951327744\",\"text\":\"Tweetin' via API!\",\"source\":\"\\u003ca href=\\\"http:\\/\\/127.0.0.1:3000\\\" rel=\\\"nofollow\\\"\\u003eMini Twitty\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"retweet_count\":0,\"favorite_count\":0,\"entities\":{\"hashtags\":[],\"symbols\":[],\"user_mentions\":[],\"urls\":[]},\"favorited\":false,\"retweeted\":false,\"lang\":\"in\"},\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"000000\",\"profile_background_image_url\":\"http:\\/\\/abs.twimg.com\\/images\\/themes\\/theme1\\/bg.png\",\"profile_background_image_url_https\":\"https:\\/\\/abs.twimg.com\\/images\\/themes\\/theme1\\/bg.png\",\"profile_background_tile\":false,\"profile_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_images\\/608755454043262976\\/mua4GLHI_normal.jpg\",\"profile_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_images\\/608755454043262976\\/mua4GLHI_normal.jpg\",\"profile_banner_url\":\"https:\\/\\/pbs.twimg.com\\/profile_banners\\/3094852202\\/1426651226\",\"profile_link_color\":\"3B94D9\",\"profile_sidebar_border_color\":\"000000\",\"profile_sidebar_fill_color\":\"000000\",\"profile_text_color\":\"000000\",\"profile_use_background_image\":false,\"has_extended_profile\":false,\"default_profile\":false,\"default_profile_image\":false,\"following\":false,\"follow_request_sent\":false,\"notifications\":false}"},"http_version":null},"recorded_at":"Thu, 23 Jul 2015 15:29:40 GMT"},[...]
{"request":{"method":"get","uri":"https://api.twitter.com/1.1/statuses/user_timeline.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=json.json"], "Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Thu, 23 Jul 2015 15:29:41 GMT"], "Status":["200 OK"], "X-Access-Level":["read-write"], "X-Connection-Hash":["0c8a3356f3226a43b218241af29f45a0"], "X-Rate-Limit-Limit":["180"], "X-Rate-Limit-Remaining":["179"], "X-Rate-Limit-Reset":["1437666281"], "X-Response-Time":["47"], "X-Transaction":["370f338d6b7e0b21"], "X-Twitter-Response-Tags":["BouncerCompliant"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"created_at\":\"Thu Jul 23 14:21:11 +0000 2015\",\"id\":624222730951327744,\"id_str\":\"624222730951327744\",\"text\":\"Tweetin' via API!\",\"source\":\"\\u003ca href=\\\"http:\\/\\/127.0.0.1:3000\\\" rel=\\\"nofollow\\\"\\u003eMini Twitty\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":3094852202,\"id_str\":\"3094852202\",\"name\":\"Whitney Hiemstra\",\"screen_name\":\"whithub\",\"location\":\"Denver, CO\",\"description\":\"\",\"url\":null,\"entities\":{\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":43,\"friends_count\":35,\"listed_count\":0,\"created_at\":\"Wed Mar 18 03:42:24 +0000 2015\",\"favourites_count\":0,\"utc_offset\":-21600,\"time_zone\":\"Mountain Time (US \u0026 Canada)\",\"geo_enabled\":false,\"verified\":false,\"statuses_count\":3[...]
[...]
